<div id="menu" ng-controller="ctrlMenu">
    <img src="../project2/images/icons/icon_dropbox.png" title="" alt="" class="img-responsive">


    <ul>
        <li><img class="icon" src="../project2/images/icons/icon_files.png" alt=""><a ng-href="../project2/#/Files">Files</a></li>
        <li><img class="icon" src="../project2/images/icons/icon_photos.png" alt=""><a ng-href="../project2/#/Photos">Photos</a></li>
        <li><img class="icon" src="../project2/images/icons/icon_sfaring.png" alt=""><a ng-href="../project2/#/Sharing">Sharing</a></li>
        <li><img class="icon" src="../project2/images/icons/icon_links.png" alt=""><a ng-href="../project2/#/Links">links</a></li>
        <li><img class="icon" src="../project2/images/icons/icon_events.png" alt=""><a ng-href="../project2/#/Events">Events</a></li>
        <li><img class="icon" src="../project2/images/icons/icon_started.png" alt=""><a ng-href="../project2/#/">Get Started</a></li>
    </ul>

    <p class="text-center">
        <span class="watch" >{{tick| date:"HH:mm:ss"}}</span>
    </p>
</div>